.ListItems{
    display: flex;
    padding: 20px;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    height: 36px;
}
.NameAndText{
    margin-left: 20px;
}

.NameAndText > h2{
    font-size: 18px;
    margin-bottom: -14px;
}


